@charset "UTF-8";

				/*Formatação da interface*/
:root{
	--background-color1: #000;
	--background-color2: #111;
	--text-color: #FFF;
	--menu-color: rgba(0,0,0,.8);
	--button-color: rgba(255,255,255,.3);
}

body{
	background-color:var(--background-color1);
	transition: .5s;
}

#darkmode{
	display: none;
}

#darkmode:checked + main{
	--background-color1: #FFF;
	--background-color2: #EEE;
	--text-color: #000;
	--menu-color: rgba(200,200,200,.8);
	--button-color: rgba(0,0,0,.3);
	transition: 1s;
}


.darkmodelabel{
	position:fixed;
	margin-left: 30px;
	margin-top: 34em;
	cursor: pointer;
	color: var(--text-color);
	padding: 9px;
	border: solid 1.5px var(--text-color);
	background:  var(--background-color1);
	border-radius: 10px;
}

.round{
	padding: 0px 8px 0px 8px;
	margin-top: 2px;
	background-color: var(--text-color);
	border-radius: 50%;
}

main{
	position: relative;
	margin: -10px -8px;
	background-color:var(--background-color1);
}

a{
	text-decoration: none;
}

				/*Formatação do cabeçario*/
header{
	height: 0px;
}


				/*Formatação do menu*/
.menu{
	display: flex;
	width: 100%;
	position: fixed;
	margin: -5px -10px;
	overflow: hidden;
	background-color: var(--menu-color);
	border-radius: 5px;
}

.logo-img{
	position:relative;
	margin: 10px 20px;
}

ul.edit-menu{
	width: 100%;
	display: flex;
	list-style: none;
	justify-content:space-around;
	margin-left:-30px;
}


.menu li a{
	position:relative;
	font-family: Arial;
	font-size: 20px;
	color: var(--text-color) ;
}

.menu li a:hover{
	text-transform: 0.5s;
	color: #8F8F8F;
}

.menu li a span{
	margin-left: 7px;
}

				/*Formatação do conteudo geral*/
.corpo{
	width:80%;
	margin: 10px auto;
}

div{
	padding:70px 40px 0px 40px;
	margin-bottom:40px;
	background: var(--background-color2);
	box-shadow: 0 0 10px var(--text-color);
	border-radius: 10px;
}

h1{	
	position: relative;
	text-align: center;
	font-size: 50px;
	margin-top: 20px;
	color: var(--text-color);
}

p{	
	color: var(--text-color);
	font-size: 25px;
	margin-top: 50px;
}

				/*ul de projetos e conhecimentos*/
.edit-list-pc{
	width: 80%;
	margin: auto;
	list-style: none;
	display: flex;
	flex-wrap: wrap; 
}

.edit-list-pc li{
	flex-basis: 33%;  
	margin-bottom: 25px;
}

				/*Formatação do conteudo inicial*/
.inicio{
	padding-bottom:15%;
}

.inicio p{
	text-align: center;
}

.inicio h1{
	margin-top: 70px;
	font-size: 80px;
	font-family: Cursive;
	font-style: italic;
	font-weight: bold;
}



.btn{
	padding:25px 10px 5px 10px;
	margin-left: 23%;
	border: 1px solid;
    border-radius: 32px;
	border-color: var(--text-color);
	background-color: transparent;
	transition: 0.4s;
	
}

.btn:hover{
	text-transform: 0.5s;
	background-color: rgba(0,0,0,0.8);
}

.btn::before{
	position: absolute;
    content: "";
    width: 152px;
    height: 48px;
    margin: 8px 22px;
    border-radius: 48px;
    background-color: var(--button-color);
    transform: translate(-24px, -8px);
    transition: 0.4s;
}

.btn:hover:before{
    background: transparent;
    transform: translate(-33px, -13px);
}

.inicio span{
	color: var(--text-color);
	font-size: 20px;
	margin: 0 10px 0 10px;
}


				/*Formatação do conteudo sobre mim*/
.sobre{
	padding:70px 40px 1% 40px;
	
}

.f{
	padding:inherit;
	margin-bottom:inherit;
	background: inherit;
	border-radius: inherit;
	box-shadow: none;
	margin-top: -10%;
	display: flex;
}


				/*Formatação do conteudo projetos*/
.projetos{
	padding-bottom: 3%;
}

.projetos li{
	display: flex;
	margin-left: 80px;
	margin-bottom: 40px;
}

.projetos img{
	max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    border-radius: 5%;
}

.projetos a{
	
	display: relative;
	margin-top: 40px;
	margin-left: 30px;
}

.projetos span{
	padding: 10px;
	font-weight: bold;
	border-radius: 5%;
	white-space: nowrap;
	color: var(--text-color);
	border: 1px solid var(--text-color);
    border-radius: 32px;
	background-color: var(--background-color2);
}

.projetos span:hover{
	text-transform: 0.5s;
	color: var(--background-color1);
	background-color: var(--text-color);
}


				/*Formatação do conteudo conhecimentos*/
.conhecimentos{
	padding-bottom: 2%;
}

.card{
	width: 80px;
	height: 80px;
}

.card h3{
	width: 10%;
	color: var(--text-color);
	font-size: 25px;
	margin-top: -1.5em;
	text-align: center;
	
}

.card-img{
	position:relative;
	width: 80px;
	height: 80px;
	margin-top: -140px;
	margin-left: -40px;
	
}

.card-img img{
	margin:-20px 10px;
}

.card-img:hover{
	display: none;
}

.grande{
	margin-left: -25px;
}

				/*Formatação do conteudo formacao*/
.formacao{
	padding:70px 40px 15% 40px;
	margin-bottom: 40px;
}


.formacao p{
	margin-top: 70px;
}


				/*formatação do rodape*/
.rodape{
	width: 100%;
	background: var(--background-color1);
	border-top: 3px #606060 solid;
    padding-bottom: 15px;

}

.rodape h2{ 
    margin-left: 10%;
    font-size: 15px;
    color: var(--text-color);
}

.rodape a{
	color: var(--text-color);
}

.rodape img{
	margin:0px 5px -10px 0px;
}

.rodape p{
    text-align: center; 
    font-size: 20px;
    margin-top: -40px;
    color: var(--text-color);
}




