@charset "ISO-8859-1";

				/*Formatação para tablet*/
@media (max-width: 700px) {
	.darkmodelabel{
		margin-left: 7px;
	}
	
	/*conteudo inicio*/
	.btn{
		margin-left: 3%;
	}
	
	/*conteudo conhecimentos*/
	.conhecimentos h1{
		font-size: 30px;
	}
	
	.conhecimentos .edit-list-pc li{
		margin-left: -25px;
	}
	
	.card{
		width: 20px;
		height: 20px;
	}
	
	.card-img{
		width: 20px;
		height: 20px;
		margin-top: -39px;
		margin-left: 10px;
	}
	
	.card-img img{
		margin: -3.5em -1.8em;
	}

	.card h3{
		position: relative;
		margin-top: -3.5em;
		margin-left: -2em;
		font-size: 13px;
		font-weight: bold;
	}

	/*conteudo projetos*/
	.projetos a{
		margin-left: 15px;
	}
}
@media (max-width: 550px) {
	.darkmodelabel{
		margin-left: 5px;
	}
	
	/*conteudo inicio*/
	.btn{
		margin-left: 0px;
	}
}

@media (max-width: 510px) {
	.darkmodelabel{
		margin-left: 2px;
	}

		/*menu*/
	.menu{
		display: none;
	}
		
		
		/*conteudo inicio*/
	.inicio p{
		margin-top: -20px;
	}
	
	.inicio h1{
		
		margin-bottom: 70px;
	}
	
	.inicio img{
		display: none;
	}
		
	.btn{
		padding:5px;
		margin: 70px 10px 0 3px;
	}
	
	.btn::before{
		width: 109px;
   		height: 30px;
   		margin: 11px 26px;
	}
		
		
		/*conteudo sobre mim*/
	.f p{
		font-size: 15px;
		margin-top: 10px;
	}
	
	.sobre h1{
		font-size: 30px;
	}
	
	
		/*conteudo projetos*/
	.projetos span{
		font-size: 15px;
	}
	
	.projetos .edit-list-pc li{
		margin-left: -40px;
	}
	
	.projetos h1{
		font-size: 30px;
	}
	
		
		/*conteudo conhecimentos*/
	.conhecimentos h1{
		font-size: 30px;
	}
		
		/*conteudo  formação*/
	.formacao h1{
		font-size: 30px;
	}
	
	
		/*rodae*/
	.rodape h2{
		display: none;
	}
	
	.rodape p{
		margin-top:10px;
	}
}

@media (max-width: 400px) {
	/*conteudo inicio*/
	.btn::before{
		width: 90px;
	}
	
	.inicio span{
		font-size: 15px;
	}
	
	/*conteudo projetos*/
	
	.projetos .edit-list-pc li{
		margin-left: -60px;
	}
	
	/*conteudo conhecimentos*/
	.conhecimentos .edit-list-pc li{
		margin-left: -40px;
	}
	.card-img{
		margin-top: -40px;
	}
}