@charset "ISO-8859-1";

				/*Formatação para tablet*/
@media (max-width: 500px) {
	
		/*menu*/
	.menu{
		display: none;
	}
		
		
		/*conteudo inicio*/
	section.corpo div.inicio img{
		display: none;
	}
		
	section.corpo div.inicio a{
		padding:5px;
		margin-left: 10px;
		margin-right: 3px;
	}
		
		
		/*conteudo sobre mim*/
	section.corpo div.sobre div.f p{
		font-size: 15px;
		margin-top: 10px;
	}
	
	section.corpo div.sobre h1{
		font-size: 30px;
	}
	
	
		/*conteudo projetos*/
	section.corpo div.projetos span{
		font-size: 15px;
	}
	
	section.corpo div.projetos h1{
		font-size: 30px;
	}
	
		
		/*conteudo conhecimentos*/
	section.corpo div.conhecimentos h1{
		font-size: 30px;
	}
	
		
		/*conteudo  formação*/
	section.corpo div.formacao h1{
		font-size: 30px;
	}
	
	
		/*rodae*/
	footer.rodape h2{
		display: none;
	}
	
	footer.rodape p{
		margin-top:10px;
	}
}