<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=width-device, initial-scale=1.0"/>
		<meta name="author" content="José Silvano">
		
		<title>Meu Portifolio</title>
		
		<link rel="stylesheet" type="text/css" href="css/allStyles.css"/>
	</head>
	
	<body>

		
			<header>
	            <nav class = "menu">
	            	<a href=#inicio>
						<img class = "logo-img" alt="Logo Top Teg" src="img/logo.png">
					</a>
					<ul class="edit-menu">
						<li><a href=#sobre><img alt="Teg sobre mim" src="img/eu.png"><span>Sobre mim</span></a></li>
						<li><a href=#projetos><img alt="Teg projetos" src="img/projetos.png"><span>Projetos</span></a></li>
						<li><a href=#conhecimentos><img alt="Teg conhecimentos" src="img/conhecimentos.png"><span>Conhecimentos</span></a></li>
						<li><a href=#formacao><img alt="Teg formacao" src="img/formacao.png"><span>Formação Academica</span></a></li>
							<!-- <li><a href=#>Blog</a></li> -->
					</ul>
			    </nav>
			</header>
			
			<section class="corpo">
			
				<div id="inicio">
					<h1>Eu sou José Silvano</h1>
				</div>
			
				<div id="sobre">
					<h1>Sobre mim</h1>
					<p>&nbsp;&nbsp;Sou um aluno esforçado, aproveitando
						os estudos em Ciência da
						Computação, buscando experiência no
						mundo real atuando com
						Desenvolvimento de Software, com
						um forte desejo de aprender
						oferecendo habilidades interpessoais
						e de priorização de tarefas.
					</p>
				</div>
					
				<div id="projetos">
					<h1>Projetos Pessoais</h1>
						<ul>
							<li><a href=https://github.com/Ternayker/Java-SpringBoot-Blog target="_blank" rel="noopener noreferrer">Blog</a></li>
							<li><a href=https://github.com/Ternayker/Java-Swing-CampoMinado target="_blank" rel="noopener noreferrer">Campo Minado</a></li>
						</ul>
				</div>
					
				<div id="conhecimentos">
					<h1>Conhecimentos</h1>
					<ul style="flex-direction: column;">			
						<li>Boa Logica de Programação</li>
						<li>Conhecimento em Programação Funcional</li>
						<li>Conhecimentos em JAVA (Spring Boot,
						JavaFX, JPA, Hibernate)</li>
						<li>Conhecimento Básico de HTML e CSS</li>
						<li>Conhecimento em MySQL</li>
						<li>Conhecimento Básico em MongoDB</li>
						<li>Conhecimento em C/C++</li>
						<li>Conhecimento Básico com pacotes office</li>
					</ul>
				</div>
				
				<div id="formacao">
				<h1>Formação Academica</h1>
					<p><b>CENTRO UNIVERSITÁRIO CARIOCA
						(UNICARIOCA)</b><br><br>
						Bacharel em Ciência da Computação, inicializada em 2019,
						Cursando atualmente o 5° período
					</p>
				</div>
				
			</section>
			
			<footer class="rodape">
				<h2><img alt="Teg gmail" src="img/gmail.png">j.silvanohk@gmail.com</h2>
				<h2><img alt="Teg github" src="img/github.png">github.com/Ternayker</h2>
				<p>by José Silvano</p>
			</footer>
			

	</body>
</html>