<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=width-device, initial-scale=1.0"/>
		<meta name="author" content="José Silvano">
		
		<title>Meu Portifolio</title>
		
		<link rel="stylesheet" type="text/css" href="css/allStyles.css"/>
	</head>
	
	<body>
	
			
			<header>
	            <nav class = "menu">
	            	<a href=#ini>
						<img class = "logo-img" alt="Logo Top Teg" src="img/menu/logo.png">
					</a>
					<ul class="edit-menu">
						<li><a href=#sob><img alt="Teg sobre mim" src="img/menu/eu.png"><span>Sobre mim</span></a></li>
						<li><a href=#pro><img alt="Teg projetos" src="img/menu/projetos.png"><span>Projetos</span></a></li>
						<li><a href=#con><img alt="Teg conhecimentos" src="img/menu/conhecimentos.png"><span>Conhecimentos</span></a></li>
						<li><a href=#for><img alt="Teg formacao" src="img/menu/formacao.png"><span>Formação Academica</span></a></li>
							<!-- <li><a href=#>Blog</a></li> -->
					</ul>
			    </nav>
			</header>
			
			<section class="corpo">
			
				<div class="inicio" id="ini">
					<p>Seja bem-vindo ao meu Portfólio </p>
					<h1>José Silvano</h1>
					<a href=https://github.com/Ternayker target="_blank" rel="noopener noreferrer">
					<img alt="Teg github" src="img/github.png"><span>GitHub</span></a>
				</div>
			
				<div class="sobre" id="sob">
					<h1>Sobre mim</h1>
					<div class="f">
						<p>&nbsp;&nbsp;&nbsp;Meu nome é José Silvano sou estudante 
							de Ciência da Computação e sempre fui apaixonado 
							pela tecnologia.<br><br>
							&nbsp;&nbsp;&nbsp;Estou sempre buscando aprender novas tecnologias 
							e aperfeiçoar as que conheço, com pesquisas ou videoaulas, 
							mas atualmente estou em busca de uma oportunidade de estagio para 
							adquirir experiência e pôr em prática tudo que aprendi.</p>
						<img alt="Teg Dev" src="img/dev.png">
					</div>
				</div>
					
				<div class="projetos" id="pro">
					<h1>Projetos Pessoais</h1>
						<ul class="edit-list-pc">
							<li>
								<img alt="Teg Blog" src="img/proje/blog.png">
								<a href=https://github.com/Ternayker/Java-SpringBoot-Blog target="_blank" rel="noopener noreferrer"><span>Blog</span></a>
							</li>
							<li>
								<img alt="Teg Campo Minado" src="img/proje/minado.png">
								<a href=https://github.com/Ternayker/Java-Swing-CampoMinado target="_blank" rel="noopener noreferrer"><span>Campo Minado</span></a>
							</li>
							<li>
								<img alt="Teg Em Breve" src="img/proje/breve.png">
							</li>
							<li>
								<img alt="Teg Em Breve" src="img/proje/breve.png">
							</li>
						</ul>
				</div>
					
				<div class="conhecimentos" id="con">
					<h1>Conhecimentos</h1>
					<ul class="edit-list-pc">			
						<li><img alt="Teg Logica" src="img/conhe/logica.png"><span>Boa Logica de Programação</span></li>
						<li><img alt="Teg Java" src="img/conhe/java.png"><span>JAVA</span></li>
						<li><img alt="Teg C" src="img/conhe/c++.png"><span>C/C++</span></li>
						<li><img alt="Teg HTML" src="img/conhe/html.png"><span>Básico em HTML</span></li>
						<li><img alt="Teg CSS" src="img/conhe/css.png"><span>Básico em CSS</span></li>
						<li><img alt="Teg MySQL" src="img/conhe/mysql.png"><span>MySQL</span></li>
						<li><img alt="Teg Office" src="img/conhe/office.png"><span>Básico em pacotes office</span></li>
					</ul>
				</div>
				
				<div class="formacao" id="for">
				<h1>Formação Academica</h1>
					<p><b>CENTRO UNIVERSITÁRIO CARIOCA
						(UNICARIOCA)</b><br><br>
						Bacharel em Ciência da Computação, inicializada em 2019,
						Cursando atualmente o 5° período.
					</p>
				</div>
				
			</section>
			
			<footer class="rodape">
				<h2><img alt="Teg gmail" src="img/gmail.png">j.silvanohk@gmail.com</h2>
				<a href=https://github.com/Ternayker target="_blank" rel="noopener noreferrer"><h2>
				<img alt="Teg github" src="img/github.png">github.com/Ternayker</h2></a>
				<p>by José Silvano</p>
			</footer>
			

	</body>
</html>